.header {
  text-align: center;
  padding: 2em 0 0 0;
}
.header img {
  max-height: 160px;
}

.header h1 {
  font-size: 1.4em;
  font-weight: 300;
  margin:.9em 0 .2em 1;
}

.header nav {
  display: inline-block;
  box-shadow: none;
  margin-top:15px;
  width:100%;
}

.header ul{
  display: inline-block;
}
span.badge.new {
  font-size: 1rem;
  display: inline-block;
  margin: .1em 0 .6em;
  text-align:center;
  float:none;
  border-radius:5px;
}
